<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Webpage Title</title>
  </head>

  <body>
    <div id="root-container">
      <h1>NLP Article Analysis</h1>
      <form id="articleForm">
        <label for="urlField">Enter Article URL: </label>
        <input
          id="urlField"
          type="text"
          placeholder="http://example.com/article"
        />
        <button id="urlSubmit" type="submit">Analyze</button>
        <p id="error-msg"></p>
      </form>
      <h2>Results On Article:</h2>
      <h3 id="article-title"></h3>
      <div id="results-container">
        <p>Polarity</br><span id="polarity"></span></p>
        <p>Polarity Confidence</br><span id="polarityConfidence"></span></p>
        <p>Subjectivity</br><span id="subjectivity"></span></p>
        <p>Subjectivity Confidence</br><span id="subjectivityConfidence"></span></p>
      </div>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
      </script>
  </body>
</html>
